In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

dataset = pd .read_csv(r"C:\Users\pdhau\OneDrive\Desktop\Third semester\AI AND ML\taxi_trip_pricing.csv")

In [3]:
dataset.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

In [4]:
dataset.dropna(inplace=True)

In [5]:
dataset["Time_of_Day"].value_counts()

Time_of_Day
Afternoon    220
Morning      157
Evening      124
Night         61
Name: count, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
encoder = LabelEncoder()

In [8]:
dataset["Time_of_Day"] = encoder.fit_transform(dataset["Time_of_Day"])

In [9]:
dataset.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,2,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
2,36.87,1,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
5,8.64,0,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
12,41.79,3,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.1328
14,9.91,1,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.9914

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
encoder = LabelEncoder()

In [12]:
dataset["Traffic_Conditions"] = encoder.fit_transform(dataset["Traffic_Conditions"])

In [13]:
dataset.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,2,Weekday,3.0,1,Clear,3.56,0.80,0.32,53.82,36.2624
2,36.87,1,Weekend,1.0,0,Clear,2.70,1.21,0.15,37.27,52.9032
5,8.64,0,Weekend,2.0,2,Clear,2.55,1.71,0.48,89.33,60.2028
12,41.79,3,Weekend,3.0,0,Clear,4.60,1.77,0.11,86.95,88.1328
14,9.91,1,Weekday,2.0,0,Clear,2.32,1.26,0.34,41.72,28.9914

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
dataset["Day_of_Week"] = encoder.fit_transform(dataset["Day_of_Week"])

In [15]:
dataset.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,2,0,3.0,1,Clear,3.56,0.80,0.32,53.82,36.2624
2,36.87,1,1,1.0,0,Clear,2.70,1.21,0.15,37.27,52.9032
5,8.64,0,1,2.0,2,Clear,2.55,1.71,0.48,89.33,60.2028
12,41.79,3,1,3.0,0,Clear,4.60,1.77,0.11,86.95,88.1328
14,9.91,1,0,2.0,0,Clear,2.32,1.26,0.34,41.72,28.9914

In [16]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
dataset["Weather"] = encoder.fit_transform(dataset["Weather"])

In [17]:
dataset.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,2,0,3.0,1,0,3.56,0.80,0.32,53.82,36.2624
2,36.87,1,1,1.0,0,0,2.70,1.21,0.15,37.27,52.9032
5,8.64,0,1,2.0,2,0,2.55,1.71,0.48,89.33,60.2028
12,41.79,3,1,3.0,0,0,4.60,1.77,0.11,86.95,88.1328
14,9.91,1,0,2.0,0,0,2.32,1.26,0.34,41.72,28.9914

In [19]:
X_feature = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [20]:
X_feature

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes
0,19.35,2,0,3.0,1,0,3.56,0.80,0.32,53.82
2,36.87,1,1,1.0,0,0,2.70,1.21,0.15,37.27
5,8.64,0,1,2.0,2,0,2.55,1.71,0.48,89.33
12,41.79,3,1,3.0,0,0,4.60,1.77,0.11,86.95
14,9.91,1,0,2.0,0,0,2.32,1.26,0.34,41.72
...,...,...,...,...,...,...,...,...,...,...
990,40.17,1,0,3.0,1,0,3.81,0.66,0.42,62.66
992,14.34,0,0,1.0,2,0,3.23,1.01,0.29,45.07
994,18.69,1,0,3.0,2,0,4.90,1.79,0.17,79.41
995,5.49,0,1,4.0,2,0,2.39,0.62,0.49,58.39
998,47.56,2,0,1.0,1,0,2.67,0.82,0.17,114.94

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,_X_test,y_train,y_test = train_test_split(X_feature,y_feature,test_size=0.2,random_state=2)

NameError: name 'y_feature' is not defined